* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
  list-style: none;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
}

.form-wrapper-sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  transition: margin-left 0.5s ease, box-shadow 0.5s ease;
  font-size: 0.9em;
  position: relative;
  width: 26em;
  background: rgba(85, 204, 102, 0.5);
}

.result-table {
  display: block;
  background: rgba(123, 65, 201, 0.5);
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  position: relative;
  padding: 1em;
}

.table-wrapper {
  width: 80%;
  margin: auto;
  min-width: 1020px;
}

.table-options {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.toolbar {
  flex-grow: 1;
}

.searching-field {
  align-self: flex-end;
  padding-left: 1rem;
  position: relative;
}

.searching-input {
  background: rgba(0, 0, 0, 0.35);
  padding: 0.4rem 2rem 0.4rem 0.5rem;
  border: 1px solid darkgray;
}

.paginator {
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  width: 15%;
}

.paginator-item {
  border: 1px solid black;
  height: 2em;
  width: 2em;
  text-align: center;
  padding-top: 0.3rem;
  cursor: pointer;
}

.paginator-item.hidden{
  display: none;
}

.selected-paginator-item {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.cars {
  width: 100%;
}

.saving-form {
  padding: 1em;
}

.cars {
  margin: auto;
}

.form_item {
  display: flex;
  justify-content: space-between;
}

.form_item:not(:first-child) {
  margin-top: 1em;
}

.input {
  width: 45%;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid darkgray;
}

.save-button {
  background: inherit;
  border: 1.5px solid palevioletred;
  padding: .25em .75em;
  min-width: 100px;
  cursor: pointer;
  transition-duration: 0.2s;
  outline: 0;
  position: relative;
}

.save-button:hover,
.save-button:focus {
  background: palevioletred;
  color: rgb(245, 245, 245);
}


.save-button:active {
  filter: brightness(120%);
}

.inactive-filters {
  margin-left: -26em;
}

.cars {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 0.5em 0.75em;
}

th {
  text-align: left;
}

.sorting {
  float: right;
  position: relative;
}

.sort-ascending {
  width: 0; 
  height: 0; 
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  
  border-bottom: 0.6rem solid black;

  top: -2px;
  position: absolute;
  left: -10px;
}

.sort-descending {
  width: 0;
  height: 0;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-top: 0.6rem solid black;
  position: absolute;
  top: 12px;
  left: -10px;

}

.selected-sort {
  color: white;
}

.sorting i{
  font-size: 1.5rem;
}

.selected-row {
  background: rgba(0, 0 ,0 ,0.6);
  color: rgb(245, 245, 245);
}

.tb-row:hover {
  background: rgba(0, 0, 0, 0.05);
}

.selected-row:hover {
  background: rgba(0, 0 ,0 ,0.6);
}

.icons {
  border: 2px solid black;
  /* border-radius: 4px; */
  background: none;
  cursor: pointer;
  width: 2.2rem;
  height: 2.2rem;
}

.icons:hover {
  background: rgba(0, 0, 0, 0.05); 
}


.icons i {
  font-size: 1.25rem;
}

.searching-button {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background: none;
  cursor: pointer; 
}

.searching-button i {
  font-size: 0.8rem;
}

.sidebar-state-button {
  position: absolute;
  background: none;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  outline: none;
}

.sidebar-state-button:hover {
  background:none;
}


.disabled-button {
  background: rgba(0, 0, 0, 0.3);
  cursor: default;
}

.disabled-button:hover {
  background: rgba(0, 0, 0, 0.3);
}
