* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
  list-style: none;
}

/* Layout */
.result-table {
  display: block;
  width: 100%;
  position: relative;
  padding: 1em;
}

.table-wrapper {
  width: 90%;
  margin: auto;
  min-width: 1265px;
}

/* Table options*/
.table-options {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.toolbar {
  flex-grow: 1;
}

.searching-field {
  align-self: flex-end;
  padding-left: 1rem;
  position: relative;
  margin-right: 0.5rem;
}

.searching-input {
  padding: 0.4rem 2rem 0.4rem 0.5rem;
  border: 1px solid darkgray;
}

.paginator {
  width: 15%;
  align-self: center;
}

.paginator-list {
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  width: 100%;
}

.paginator-item {
  border: 1px solid black;
  height: 2em;
  width: 2em;
  text-align: center;
  padding-top: 0.3rem;
  cursor: pointer;
}

.paginator-item:not(.selected-paginator-item):not(.paginator-item-not-page):not(.disabled-button):hover {
  background: rgba(151, 154, 255, 0.5);
}

.paginator-item.hidden{
  display: none;
}

.paginator-item-not-page {
  border: none;
  cursor: default;
}

.selected-paginator-item {
  background: rgb(151, 154, 255);
}

/* Table */
.cars {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
.tb-row td {
  border: 1px solid black;
  padding: 0.5em 0.75em;
}

th {
  text-align: left;
  background: rgb(151, 154, 255);
}

.tb-row {
  margin: 0.5rem 0;
}

.tb-row:not(.selected-row):hover {
  background: rgba(0, 0, 0, 0.05);
}

.selected-row {
  background: rgb(255, 203, 151);
  color: black;
}

.td-truncated {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Buttons with icons */
.icons {
  border: 2px solid black;
  background: none;
  cursor: pointer;
  width: 2.2rem;
  height: 2.2rem;
}

.icons:hover {
  background: rgba(151, 154, 255, 0.5);
}

.icons i {
  font-size: 1.25rem;
}

.searching-button {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background: none;
  cursor: pointer; 
}

.searching-button i {
  font-size: 0.8rem;
}

.disabled-button {
  background: rgba(77, 77, 77, 0.3);
  cursor: default;
}

.disabled-button:hover {
  background: rgba(77, 77, 77, 0.3);
}

/* Sorting */
.sort-icons {
  float: right;
  cursor: default;
}

.sort-icons i {
  font-size: 1.1rem;
  padding: 0 0.2rem;
  cursor: pointer;
}

.sort-icons button {
  display: inline;
  background: none;
  border: none;
}

.selected-sort {
  color: rgb(255, 203, 151);
}
